@import "weather-icons.min";
@import "weather-icons-wind.min";

* {
  margin: 0;
  padding: 0;
}

.mainWrapper {
  font-family: "Lato", "Helvetica", sans-serif;
  width: 30vw;
  height: 100vh;
  border: 1px solid rebeccapurple;
  margin: 0 auto;
}

.locationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  border: 1px solid red;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  span {
    color: black;
    font-weight: 700;
  }
}

.locationName {
  float: left;
  font-size: 1rem;
  color: rgb(169,169,169);
}

.tempBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 20vh;
  border: 1px solid red;
  div:nth-of-type(1) {
    left: 15%;
    p {
      margin: 0;
    }
  }
  div:nth-of-type(2){
    display: flex;
    width: 6rem;
    span {
      align-self: baseline;
    }
    span > a {
      text-decoration: none;
      height: 2rem;
    }
    div > p {
      font-size: 4rem;
      height: 3rem;
      margin: 0;
    }
  }
  i {
    font-size: 3rem;
  }
}

.airQualityBox {
  border: 1px solid green;
  h1 {
    font-size: 0.8rem;
    text-align: center;
  }
}

.airQualityInfo1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
  div p {
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
  }
}

.airQualityInfo2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
  div p {
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
  }
}

.pressHummBox {
  display: flex;
  justify-content: space-around;
  margin-top: 1.3rem;
  border: 1px solid blue;
}

.windBox {
  display: flex;
  justify-content: space-around;
  margin-top: 1.3rem;
  div p {
    text-align: center;
  }
  div:nth-of-type(2) i {
    font-size: 4rem;
  }
}



@media screen and (max-width: 800px) {
  * {
    font-size: 1.2vw;
  }
}

